@font-face { 
  font-family: 'avant'; 
  src: url('../fonts/avant_garde_medium_bt.ttf'); 
  src: url('../fonts/avant_garde_medium_bt.eot'); 
  src: url('../fonts/avant_garde_medium_bt.svg'); 
  font-family: 'gotthard'; 
  src: url('../fonts/Gotthard.ttf'); 
  src: url('../fonts/gotthard.eot'); 
  src: url('../fonts/gotthard.svg'); 
   src: url('../fonts/gotthard.woff'); 
  font-family: 'Romans'; 
  src: url('../fonts/HelveticaInserat-Roman-SemiBold.ttf') format('embedded-opentype'); 
  font-family: 'Sans'; 
  src: url('../fonts/OpenSans-Regular.ttf');
  font-family: 'cento'; 
  src: url('../fonts/Quattrocento-Bold.ttf');
  font-family: 'centor'; 
  src: url('../fonts/Quattrocento-Regular.ttf');
  font-family: 'roboto'; 
  src: url('../fonts/Roboto-Regular.ttf');
}


/* 1. BASIC STYLES */

	html, body {
		height: 100%;
	}

	body {
		font-family:  'Romans', 'Arial', 'sans-serif','Sans','cento','centor','roboto';
		font-size: 14px;
		font-weight: 200;
		line-height: 1.4;
		color: #333333;
		background-color: #fff;
	}
	p{
		font-weight:bold;
	}
	.btn{
        border: none;
	}
	.btn-group-lg>.btn, .btn-lg {
    padding: 5px 8px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
   }

	a { 
		cursor: pointer;
		color: #000;
		
	}

	a:hover {
		color: #000;
	}

	a, a:hover, a:active, a:focus, button:focus {
		outline: 0;
		border: 0;
		text-decoration: none;
	}

	
	
    #st-preloader {
		background: #FFF;
		bottom: 0;
		left: 0;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 9999;
	}

	h1, h2, h3, h4, h5, h6,p{
		font-family: 'avant';
		margin-top:0px;
		margin-bottom:0px;
	}

	input, textarea{
		outline: none;
	}

	label{
		font-weight: 300;
	}
	
	#pre-status,
	.preload-placeholder {
		
		background-position: center;
		background-repeat: no-repeat;
		height: 40px;
		left: 50%;
		margin: -20px 0 0 -20px;
		position: absolute;
		top: 50%;
		width: 40px;
	}

	.preload-placeholder {
		background: none;
		left: 0;
		margin: 0;
		text-align: center;
		top: 65%;
	}

/* 3. BUTTONS */

	.btn-send{
		background-color: #383838;
		border-radius: 0;
		border: 0;
		color: #fff;
		padding: 8px 14px;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}

	.btn-send:hover{
		background-color: #000;
		color: #fff;
	}

	.btn-readmore{
		background-color: #383838;
		border-radius: 0;
		border: 0;
		color: #fff;
		padding: 10px 20px;
		margin-top: 20px;
		text-transform: uppercase;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}

	.btn-readmore:hover{
		background-color: #000;
		color: #fff;	
	}

    .copyrights{
	text-indent:-9999px;
	height:0;
	line-height:0;
	font-size:0;
	overflow:hidden;
}


/* 4. HEADER */

	#header{}
	
	@media (min-width: 1200px){
	    .header-container {
        width: 970px;     
    }
	}
   
    
    @media (min-width: 992px){
    	    .header-container {
        width: 800px;     
    }
    }
   

	#header .navbar {
		min-height: 50px;
		margin-bottom: 0;
		border-radius: 0;
	}

	.st-navbar{
		background-color: #fff;
		border-bottom: 1px solid #f0f0f0;
	}

	

	.st-navbar ul li a{
		text-transform: uppercase;
		font-weight: 600;
		padding: 0;
		margin: 14px;
	    font-family: 'avant'; 
        font-size: 15px;
		color: #717171 ;
		letter-spacing:0.02px
	}

	.st-navbar ul li a:hover,
	.st-navbar ul li a:focus {
		background-color: transparent;
		color: #000;
	}

	.st-navbar .navbar-header{
		margin-top: 6px;
	}

	.st-navbar .navbar-toggle .icon-bar {
		background-color: #000;
	}

	.st-navbar .navbar-toggle{
		margin-top: 7px;
		margin-right: 25px;
		padding: 0;
		border-radius: 0;
	}
	
	/* 5. SLIDER */

	#slider{
		margin-top: 50px;
	}
   
	#home-carousel  .item {
		background-position: center top;
		background-repeat: no-repeat;
		background-size:cover;
		width:100%;
		height: 650px;
		-webkit-opacity: 1;
		-moz-opacity: 1;
		-ms-opacity: 1;
		-o-opacity: 1;
		opacity:1;
		filter:alpha(Opacity=80);
	}

	#home-carousel .item:before{
		background-color: #000;
		content: "";
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0.01;
		position: absolute;
		width: 100%;
	}

	.carousel-caption {		
		font-size: 15px;
		text-align: left;
		color: #fff;
		text-shadow: none;
		margin-top: -130px;	
	}
	.carousel-caption h1 {
		font-family: 'gotthard';
		font-size:30px;
		margin-bottom:20px;
		line-height:27px;
		letter-spacing:2px;
		font-weight:100;
	}

	.carousel-caption h2 {
		font-family: 'gotthard';
		font-size:60px;
		font-weight:600;
		margin-top:0px;
		letter-spacing:2px;
		margin-bottom:20px;
	}
	.carousel-caption p {
		font-family: 'avant';		
	}
	
	
	.carousel-caption a{
		border-radius: 2px;
	    margin-top:10px;
	}
	.banner-letter {
		left: 12%;
		top: 33%;
		color:#353666;
	}
	.banner-letter p{
		color:#1f2121;
	}
	.banner-trico {
		left: 36%;
		top: 76%;
		text-align: right;
	}
	.banner-trico div{
		position: relative;
		color:#f5b32d;
	}
	.banner-trico div h2{
		font-size:70px;
	}
	
	.banner-trico div h1{
		position: absolute;
		top:26px;
		right:40px;
		z-index:2;
		font-size: 16px;
		background:#363636;
	}
	.banner-trico div p{		
		color:#b09176;
	}
	.banner-array {
		left: 60%;
		top: 30%;
		color:#08736d;
	}
	.banner-array h1{
		font-size: 40px;
		margin-bottom:10px;		
	}
	.banner-array h2{
		margin-bottom:10px;		
	}
	.banner-array p{
		margin-bottom:5px;
		color:#1f2121;
	}
	.banner-array p span{
		font-size: 30px;		
		font-family: gotthard;
		padding-left: 10px;
		line-height: 1;
		color:#08736d;
	}
	.banner-oona{
		left: 10%;
		top: 30%;
		color:#4c4439;
	}
	.banner-oona h1{
		color:#8a192c;
	}
	.banner-flex{
		left: 25%;
		top: 23%;
		color:#ffffff;
		
	}
	.banner-flex h1{
		font-size:42px;
		margin-bottom:12px;
		letter-spacing: 10px;
	}
	.banner-flex h2{
		font-size:55px;
		margin-bottom:5px;
		letter-spacing: 10px;
	}
	.banner-flex h3{
		font-size:50px;
		letter-spacing: 14px;
	}
	.banner-flex h3{
		font-size:50px;
		letter-spacing: 14px;
	}
	
	.banner-premier{
		left: 5%;
		bottom: 33%;
		color:#ffffff;	
		transform:rotate(-12deg);
		-ms-transform:rotate(-12deg); 	/* IE 9 */
		-moz-transform:rotate(-12deg); 	/* Firefox */
		-webkit-transform:rotate(-12deg); /* Safari 和 Chrome */
		-o-transform:rotate(-12deg); 	/* Opera */
	}
	.premier-name{
		padding-top: 30px;
	}
	.banner-premier h1{
		color:#aee9ff;	
		margin-bottom:25px;
		font-size:35px;
	}
	.banner-premier h1 span{
		font-size:50px;
		text-indent:10px;
		padding-bottom:20px;
	}
	.banner-premier h2{		
		font-size:65px;	
	}
	.banner-premier h3{
		color:#2097f4;	
		margin-top:10px;
		font-size:50px;
	}
	
	.banner-premier p{
		margin-top: 10px;
	}
	.premier-content{
		padding-top: 55px;
	}
	
	
	

	.home-carousel-left, 
	.home-carousel-right {	
		background-color: #f0f0f0;
		color:#000;
		font-size: 32px;
		height: 40px;
		line-height: 40px;
		margin-top: -20px;
		position: absolute;
		text-align: center;
		top: 50%;
		width: 32px;
		z-index: 999;
		-webkit-transition: 300ms;
		-moz-transition: 300ms;
		-o-transition: 300ms;
		-ms-transition: 300ms;
		transition: 300ms;
	}

	.home-carousel-left {
		left:-32px;
	}

	.home-carousel-right {
		right:-32px;
	}

	#home-carousel:hover .home-carousel-left {
		left:0;
	}

	#home-carousel:hover .home-carousel-right {
		right:0;
	}
	/* Carousel animation */

	#home-carousel .item h1, 
	#home-carousel .item h2, 
	#home-carousel .item h3,
	#home-carousel .item p,
	#home-carousel .item a{
		opacity:0;
		-moz-transform: scale(0.5);
		-webkit-transform: scale(0.5);
		-o-transform: scale(0.5);
		-ms-transform: scale(0.5);
		transform: scale(0.5);
	}

	#home-carousel .item h1 {
		-webkit-transition: all 0.5s ease-in-out 0.15s;
		-moz-transition: all 0.5s ease-in-out 0.15s;
		-ms-transition: all 0.5s ease-in-out 0.15s;
		-o-transition: all 0.5s ease-in-out 0.15s;
		transition: all 0.5s ease-in-out 0.15s;
	}

	#home-carousel .item.active h1, 
	#home-carousel .item.active h2, 
	#home-carousel .item.active h3,
	#home-carousel .item.active p,
	#home-carousel .item.active a{
		opacity:1;
		-moz-transform: scale(1);
		-webkit-transform: scale(1);
		-o-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}

	#home-carousel .item h2 {
		
		-webkit-transition: all 0.5s ease-in-out 0.30s;
		-moz-transition: all 0.5s ease-in-out 0.30s;
		-ms-transition: all 0.5s ease-in-out 0.30s;
		-o-transition: all 0.5s ease-in-out 0.30s;
		transition: all 0.5s ease-in-out 0.30s;
	}
	#home-carousel .item h1 {
		
		-webkit-transition: all 0.5s ease-in-out 0.45s;
		-moz-transition: all 0.5s ease-in-out 0.45s;
		-ms-transition: all 0.5s ease-in-out 0.45s;
		-o-transition: all 0.5s ease-in-out 0.45s;
		transition: all 0.5s ease-in-out 0.45s;
	}
	#home-carousel .item h3 {
		
		-webkit-transition: all 0.5s ease-in-out 0.5s;
		-moz-transition: all 0.5s ease-in-out 0.5s;
		-ms-transition: all 0.5s ease-in-out 0.5s;
		-o-transition: all 0.5s ease-in-out 0.5s;
		transition: all 0.5s ease-in-out 0.5s;
	}

	#home-carousel .item p {
		-webkit-transition: all 0.5s ease-in-out 0.60s;
		-moz-transition: all 0.5s ease-in-out 0.60s;
		-ms-transition: all 0.5s ease-in-out 0.60s;
		-o-transition: all 0.5s ease-in-out 0.60s;
		transition: all 0.5s ease-in-out 0.60s;
	}
	#home-carousel .item a {
		-webkit-transition: all 0.5s ease-in-out 0.75s;
		-moz-transition: all 0.5s ease-in-out 0.75s;
		-ms-transition: all 0.5s ease-in-out 0.75s;
		-o-transition: all 0.5s ease-in-out 0.75s;
		transition: all 0.5s ease-in-out 0.75s;
	}


/* Section-links*/
        .section-padding{
        	   padding: 0 20px 0 0;
        	   margin: 0px;
        	   width: 100%;
        	   background:#151c26;
        }
		.zzsc-content {
			padding: 60px 0;
			min-height: 300px;
		}
       
		.Float-Left {
		  float: left;
		  margin-right: 20px;
		}
		.Float-Right {
		  float: right;
		  margin-left: 20px;
		}
		.Button {
		  padding:0px 40px;
		  display: inline-block;
		  margin: 0;			 
		  color:#ffffff;
		  text-shadow: none;
		  vertical-align: middle;
		  cursor: pointer;		  
		  -ms-transition: color 300ms ease, background-color 300ms ease;
		  -webkit-transition: color 300ms ease, background-color 300ms ease;
		  -moz-transition: color 300ms ease, background-color 300ms ease;
		  -o-transition: color 300ms ease, background-color 300ms ease;
		  transition: color 300ms ease, background-color 300ms ease;
		}

		.Button.Small {
		  padding: 5px 10px;
		  font-size: small;
		}
		 .Block {
		  width: 270px;
		  height: 330px;  
		}
		.warranty{
			background:url('../images/warranty_bg.png') no-repeat;
		}
		.warranty a{
			color:#14a1d9;
		}
		.warranty a:hover{
			color:#14a1d9;
		}
		.Button h2{
			margin-top:145px;
			margin-bottom:17px;		
		}
		.Button p{
			font-size:10px;	
			line-height:1.2;
		}
       .Button a{
		  background:#ffffff;
		  width: 65px;
		  height: 30px;
		  margin: 0 auto;
	   }
	    .instruction{
			background:url('../images/instruction_bg.png') no-repeat;
		}
		.instruction h2{
			margin-top:130px;
			font-size:25px;
			margin-bottom:13px;
		}
		.instruction a{
			color:#678dd4;
		}
		.instruction a:hover{
			color:#678dd4;
		}
		.sample{
			background:url('../images/sample_bg.png') no-repeat;
		}
		.sample h2{
			margin-top:130px;
			font-size:25px;
			margin-bottom:13px;
		}
		.sample a{
			color:#e3ae57;
			background:#ffffff;
		}
		.sample a:hover{
			color:#e3ae57;
		}
		.catalog{
			background:url('../images/catalog_bg.png') no-repeat;
		}
		.catalog h2{
			margin-top:145px;
			font-size:25px;
			margin-bottom:25px;
		}
		.catalog a{
			color:#5cb85c;
		}
		.catalog a:hover{
			color:#5cb85c;
		}
		.video{
			background:url('../images/video_bg.png') no-repeat;
		}
		.video h2{
			margin-top:165px;
			font-size:25px;
			margin-bottom:25px;
		}
		.video a{
			color:#6f47be;
		}
		.video a:hover{
			color:#6f47be;
		}
		.tech{
			background:url('../images/tech_bg.png') no-repeat;
		}
		.tech h2{
			margin-top:135px;
			font-size:25px;
			margin-bottom:8px;
		}
		.tech a{
			color:#e9724c;
		}
		.tech a:hover{
			color:#e9724c;
		}
		.claim{
			background:url('../images/claim_bg.png') no-repeat;
		}
		.claim h2{
			margin-top:135px;
			font-size:25px;
			margin-bottom:10px;
		}
		.claim a{
			color:#01c5b7;
		}
		.claim a:hover{
			color:#01c5b7;
		}
		
		
		.btn-sample{
			width:65px;
			height:30px;
			margin:0 auto;
		}
		.form-group select.form-control{
			appearance:none;
			-moz-appearance:none;
			-webkit-appearance:none;
			background:url('../images/select-arrow.png') no-repeat 95% center;
			cursor: pointer;
		}
		#sample-request .request-btn{
			width: 40%;
		}
		#sample-request textarea {
		    width: 100%;
		    padding: 10px 15px;
		    border: 1px solid#EEE;
        }
		.link_section{
			margin-top:10px;
		}
		.flipster-content{
			padding:5px 5px 5px 5px;
			vertical-align: middle;
			font-size:10px;
		}
		.flipster-logo{
			padding: 30px 20px 10px 20px;		
		}
		.flip-item .warranty-logo{
			width:110px;
			height: 110px;			
		}
		.flip-item .installation-logo{
			width:110px;
			height: 100px;			
		}
		.flip-item .tech-logo{
			width:100px;
			height: 100px;			
		}
		.flip-item .claim-logo{
			width:100px;
			height: 100px;			
		}
		.link-sample a{
			margin:0 auto;
		}
		/* Custom Flipster Styles */
		
		.pull-right {
		  float: right;
		}
		.pull-left {
		  float: left;
		}
		.hide {
		  display: none;
		}
		.show {
		  display: block;
		}
		.invisible {
		  visibility: hidden;
		}
		.affix {
		  position: fixed;
		}
		
		
        /* News*/
       .item-content{
       	width: 100%;      	
       	
       }
       .item-content h4{
       	margin-top:20px;
       	font-size:15px;
       	color:#60b562;
       	
       }
       .news-padding{
       	background:#5c6069;
       	height: 450px;
       	padding-top:20px;
       }
       .news-height{
       	height:330px;
       	margin-top:30px;
       }
       .news-nav hr{
       	width: 100px;
       	float: left;
       }
       .news-nav{
       	width: 100%;
       	height:40px;
       	margin:20px 0px;
       }
      
       
       .news-nav div.news-logo{
       	width: 80px;
       	height:40px;
       	float: left;
       	background:url('../images/news-logo.png') no-repeat 0px 5px;
       }
       .news-ol li{
       	border:1px solid #5cb85c;
       }
       .news-ol .active{
        background: #5cb85c;
       }
       .row-margin{
       	margin: 0px;
       }
       .row-margin{
       	margin: 0px;
       }
       .col-lg-padding{
       	padding:0px;
      
       }
       
       .navbar-header .news-brand{
       	    min-height: 63px;
       	    padding: 15px 0;
       }
       .news-content{
      	    padding: 20px 10px 0 0;
      	   
       }
       .news-content p{
      	    color:#ffffff;
      	    font-size:12px;
      	   
       }
       .news-date{
       	color:#f4690a;
       	padding:30px 20px;
       	font-family:avant;
       }
       /* product*/
       .row-product{
       	padding: 50px 20px;
       	background:#e6e6e6;
       }
       .product-classification{
       	padding: 20px;
       	margin-bottom:0px;
       	border:0px;
       	box-shadow: 1px 1px 5px #888888;
       }
       .product-classification img{
       	width:230px;
       	height:150px;
       }
       .product-classification h4{
       	padding: 0px 0px 15px 0px;
       }
       
       .caption{
       	padding-bottom:20px;
       	height:72.5px;
       }
       .caption h4{
       	padding-top:10px;
       }
       .caption p{
       	padding: 5px 0px;
       	font-size:12px;
       }
       .thumbnail .caption {
		    padding: 0px;
		    color: #333;
		}
       .classification-padding{
       	padding:0px 10px;
       	height:300px;
       	
       }
       .product-button{
       	width: 63px;
       }
       
       /* contact*/
      .contact_padding{
      	padding:0px;
      }
      .contact{
      	border-left: 0.5px solid #9f9f9f;
      	padding-left: 20px;
      }
       .home-contact{
       	
   		 z-index: 2;
		 color: #040404;
		 margin-bottom:30px;
		
       }
       .home-contact h4{
       	 font-size:23px;
       }
       .home-contact p{
       	 font-size:14px;
       }
       .address{
       	font-size: 7px;
       }
       .contact p.content{
       	text-indent: 22px;
       	font-size: 7px;
       	margin-top: 0px;
       }
       .contact-content{
       	margin-bottom:10px;
       	padding:5px 15px;
       }
       .contact-content .glyphicon{
       	color:#76ac3c;
       	font-size:16px;
       }
       /*labor system*/
      .labor{
      	background:#2a2a2a;
      	margin: 0 auto;
      	color:#ffffff;
      }
      .labor-nav{
      	height:50px;
      	padding:7px 0px;
      }
      .labor-title{
      	display:inline-block;
      	font-size: 25px;
      	line-height:25px;
      	width:200px;
      	height:25px;
      }
      .login{
      	display: inline-block;
        margin-left:30px; 
        width:110px;
        padding:3px 10px;
        margin-bottom:10px;
        vertical-align: middle;
           
      }
      .login a{
      	background:#72b70f;  
      	padding: 0px 10px; 
        font-size:14px;
        line-height:20px;
        padding:3px 15px;
        display: block;
        border:1px solid #72b70f;
        color:#ffffff;
        border-radius:3px;
      }
      .login a:hover,.login a:active,.login a:visited {
      	color:#ffffff;
      	background:#5cb85c;     	
        border:1px solid #72b70f;
      }
      /*footer*/
     .foot-bg{
     	background:url('../images/foot-bg.jpg')  no-repeat;
     	padding: 100px 20px 30px 20px;
     }
     .signlogo{
	float:left;
	margin-left:10px;
	margin-bottom:10px;
	}
	.sign1{
		height:50px;
		width:350px;
	}
	.sign2{
		height:50px;
		width:130px;
	}
	.sign3{
		height:50px;
		width:110px;
	}
	.sign4{
		height:50px;
		width:230px;
	}
	.sign5{
		 height:50px;
		 width:130px;
	 }
	.sign6{
		height:50px;
		width:100px;
	}
	.sign0{
		height:40px;
		width:220px;
	}
	.foot-bg h5{
     	margin-top: 60px;
     }
    /*sign up*/
   .signup{
   	  max-width: 54%;
   	  padding: 30px 30px;
   }
    /*about us开始*/
.aboutus_bg{
	background: url(../images/about/about_bg.jpg) no-repeat;
	min-height: 558px;
	position: relative;
	padding-top: 180px;
	text-align: center;
	color: #ffffff;
	background-size: 1350px;
}
.aboutUsTp{
	padding-top:20px;
	margin-bottom:20px;
}
.about-us{
	margin-bottom:20px;
}
.our-culture{
	padding:0 3;
}
.introduction{
	background:url('../images/about/about_content.jpg') no-repeat;
	height:796px;
	width:899px;
	position:relative;
	margin:0 auto;
}
.aboutUsContent{
	position:absolute;
	width:600px;
	height:240px;
	bottom:0px;
	right:40px;
	color:#ffffff;
	-webkit-right: 18%;
    -moz-right: 18%;
}


/*about us结束*/
	 
	 /*service*/
	 .service{
	   padding: 50px 0 0 0 ;
	 } 
	 .service-content{
	 	width: 60%;
	    position: absolute;
	    top: 30%;
	    left: 20%;
	    text-align: center;
	    color: #ffffff;
	 }
	 .service-content h2{
	 	font-size: 50px;
        margin-bottom: 20px;
	 }
	 .service-content p{
	 	color:#ffffff;
	 	font-size:14px;
	 }
	 .service-layout{
	 	
	 	text-align: center;
	    padding: 40px 350px;
	    width: 100%;
	    background: #f5f5f5;
	 }
	 .service-layout h2{
	 	margin-top: 0px;
	 	margin-bottom: 30px;
	 	color: #6E6E6E;
	 }
	 .service-layout p{	 	
	 	margin-bottom: 30px;
	 	color: #6E6E6E;
	 }

   /**product page开始**/
    .productcontent{
    	     margin-top: 
    }
	.productInner{
		position: relative;
		width: 100%;
		overflow: hidden;
	}
	.productInner > .productItem.active{
		left: 0;
	}
	.productInner > .active{
		display:block;
	}
	
	.productItem{
		position: relative;
		display: none;
		float:left;
	}
	.produtcbg{
		position:absolute;
		left:0px;
	}
	.classify{
		height:40px;
		width:600px;
		position:absolute;
		margin:auto;
		bottom:0px;
		left:0px;
		right:0px;
	}
	.classifyactivebtn{
		 display:block;
		 float:left;
		 line-height:40px;
		 padding: 0px 5px;
		 font-size:18px;
		 background:#ffffff;
		 margin-right:5px;
		 color:#444444;
		 width:190px;
		 opacity:0.8;
		 cursor:pointer;
	
	 }
	.classifyactivebtn:hover{
		text-decoration:none;
		background:#9bc641;
		color:#ffffff;
	}
	.classifyactive{
		background:#9bc641;
		color:#ffffff;
	
	}
	.classifyactive:visited{
		text-decoration:none;
	
	}
	.secondclassify{
		height:45px;
		width:100%;
		background:#ededed;
		padding:5px 0 0 0;
		padding-bottom:5px;
	
	}
	
	.lead{
		font-size:15px;
		font-weight:400;
		line-height:24px;
	}
	
	
	
	.link-filter .btn-default.active.focus, .link-filter .btn-default.active:focus, .link-filter .btn-default.active:hover, .link-filter .btn-default:active.focus, .link-filter .btn-default:active:focus, .link-filter .btn-default:active:hover,.link-filter .btn-default:hover,.link-filter .btn-default.active {
		color: #fff;
		background-color: #f39c12;
		border-color: #f39c12;
		outline: none;
		
	}
	
	/**link-filter的CSS**/
	
	.portfolio-filter{
		margin:0 0 20px 0;
		padding:0px;
	}
	
	.portfolio-filter > li {
		display:inline-block;
		margin:0 0 0 0;
	
	}
	
	
	.secondclassify  li a.btn-default {
		font-size: 14px;
		font-weight: 400;
		width:200px;
		height:40px;
		line-height:30px;
		outline: none;
		border:none;
		color:#464646;
		background:url('../images/productup.png') no-repeat;
	}
	.secondclassify  li a.btn-default.active {
		background:url('../images/productdown.png') no-repeat;
		background-color:#ffffff;
	}
	.secondclassify  li a.all{
		background:none;
	}
	.secondclassify  li a.all.active{
		background:#ffffff;
	
	}
	.secondclassify  li a.letter{
		background-position:27px 12px;
	}
	.secondclassify  li a.letter.active{
		background-position:28px 12px;
	
	}
	.secondclassify  li a.product_sign{
		background-position:38px 12px;
	}
	.secondclassify  li a.product_sign.active{
		background-position:38px 12px;
	}
	.secondclassify  li a.neon{
		background-position:43px 12px;
	}
	.secondclassify  li a.neon.active{
		background-position:43px 12px;
	}
	.secondclassify  li a.controller{
		background-position:20px 12px;
	}
	.secondclassify  li a.controller.active{
		background-position:20px 12px;
	}
	
	.secondclassify  li a.accessories{
		background-position:43px 12px;
	}
	.secondclassify  li a.accessories.active{
		background-position:43px 12px;
	}
	
	.secondclassify  li a.wall{
		background-position:38px 12px;
	}
	.secondclassify  li a.wall.active{
		background-position:38px 12px;
	}
	.secondclassify  li a.flood{
		background-position:40px 12px;
	}
	.secondclassify  li a.flood.active{
		background-position:40px 12px;
	}
	.secondclassify  li a.shoe{
		background-position:28px 12px;
	}
	.secondclassify  li a.shoe.active{
		background-position:33px 12px;
	}
	.secondclassify  li a.retrofit{
		background-position:45px 12px;
	}
	.secondclassify  li a.retrofit.active{
		background-position:45px 12px;
	}
	.secondclassify  li a.t8{
		background-position:55px 12px;
	}
	.secondclassify  li a.t8.active{
		background-position:55px 12px;
	}
	.btn:active, .btn.active {
		background-image: none;
		box-shadow:none;
		outline: 0 none;
	}
	.btn{
		border-radius:2px;
	}
	.portfolio-filter .btn-default.active.focus, .portfolio-filter .btn-default.active:focus, .portfolio-filter .btn-default.active:hover, .portfolio-filter .btn-default:active.focus, .portfolio-filter .btn-default:active:focus, .portfolio-filter .btn-default:active:hover,.portfolio-filter .btn-default:hover,.portfolio-filter .btn-default.active {
		color: #9bc641;
		background-color: #ffffff;
		outline: none;
	
	}
	.thirdclassify .btn-default.active.focus, .thirdclassify .btn-default.active:focus, .thirdclassify .btn-default.active:hover, .thirdclassify .btn-default:active.focus, .thirdclassify .btn-default:active:focus, .thirdclassify .btn-default:active:hover,.thirdclassify .btn-default:hover,.thirdclassify .btn-default.active {
		color: #9bc641;
		background-color: #ffffff;
		outline: none;
	
	}
	.thirdclassify  li a.btn-default {
		background: #ffffff;
		font-size: 13px;
		font-weight: 400;
		width:130px;
		height:50px;
		line-height:40px;
		transition: all 0.9s ease 0s;
		-moz-transition: all 0.9s ease 0s;
		-webkit-transition: all 0.9s ease 0s;
		-o-transition: all 0.9s ease 0s;
		outline: none;
		border:none;
		color:#464646;
	
	}
	.portfolio-items{
		margin:0 0 40px 0;
		padding:0px;
	}
	.portfolio-item {
	    margin: 0;
	    padding: 5px 5px 5px 5px;
	}
	/* Start: Recommended Isotope styles */
	/**** Isotope Filtering ****/
	.isotope-item {
		z-index: 2;
	}
	.isotope-hidden.isotope-item {
		pointer-events: none;
		z-index: 1;
	}
	/**** Isotope CSS3 transitions ****/
	.isotope, .isotope .isotope-item {
		-webkit-transition-duration: 0.8s;
		-moz-transition-duration: 0.8s;
		-ms-transition-duration: 0.8s;
		-o-transition-duration: 0.8s;
		transition-duration: 0.8s;
	}
	.isotope {
		-webkit-transition-property: height, width;
		-moz-transition-property: height, width;
		-ms-transition-property: height, width;
		-o-transition-property: height, width;
		transition-property: height, width;
	}
	.isotope .isotope-item {
		-webkit-transition-property: -webkit-transform, opacity;
		-moz-transition-property: -moz-transform, opacity;
		-ms-transition-property: -ms-transform, opacity;
		-o-transition-property: -o-transform, opacity;
		transition-property: transform, opacity;
	}
	/**** disabling Isotope CSS3 transitions ****/
	.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition {
		-webkit-transition-duration: 0s;
		-moz-transition-duration: 0s;
		-ms-transition-duration: 0s;
		-o-transition-duration: 0s;
		transition-duration: 0s;
	}
	/* End: Recommended Isotope styles */
	
	/**products page 结束**/
	
	/**products detail 开始**/
	
	.detail-banner{
		margin-top: 50px;
		height:400px;
		width:100%;
		position:relative;
	}
	.detail-banner img{
		width:100%;
	}
	.aurora_sv_white div{
		position:absolute;
		width: 35%;
		height: 20%;
		top:200px;
		left:85px;
	}
	.aurora_sv_white div.wall{
		width: 33%;

	}
	.detail{
		height: 100px;
		width:100%;
		padding:20px 50px;
	}
	.detail-content{
		border-top:0.5px solid #707070;
		height: 500px;
		width:100%;	
	}
	.outdoor-content{
		border-top:0.5px solid #707070;
		width:100%;	
	}
	.featurs{
		padding-left:0px;
		padding-right:0px;
	}
	.featurs-padding{
		padding: 0px;
	}
	.featurs h4{
		padding: 30px 0px;
	}
	.featurs-list{
		border-left:2px solid #707070;		
	}
	.featurs ul{
		font-size:13px;
		color:#221715;		
	}
	.featurs ul li{
		padding-top: 10px;	
	}
	.detail-video{
		padding:60px 20px 0px 20px;
	}
	.detail-files{
		padding:20px 10px;
	}
	.catalog-link{
		padding:5px 5px;
		color:#ffffff;
		width:210px;
		height:40px; 
		margin-bottom:10px;
	}
	.catalog-link a{
		display:block;
		color:#ffffff;
		height:100%;
		width:100%;
		margin:0 auto;
		

	}
	.catalog-link a span.catalog{
		display:inline-block;
		text-align:center;
		font-size: 18px;
		background:#898989;
		color:#ffffff;
		margin:0px;
		width:170px;
		padding:2.5px 2.5px;
		float:left;
	}
	.catalog-link a span.arrow{
		display:inline-block;
		float:left;
		width:30px;
		height:30px;		
		background: url('../images/arrow.jpg')  no-repeat;
	
	}
	.colors{
		width:100%;
		height:70px;
		background:#d5d5d5;
		padding-top: 13px;
	}
	.colors div.color-span{
		width: 110px;
		float:left;
		padding: 4px;
		height:100%;
	}
	.colors div.color-span .color-icon{	
		height:20px;
		width:20px;
		margin: 0 auto;
		margin-bottom: 5px;
	}
	.colors div.color-span .red-icon{
		background: url('../images/details/sign_lighting/neon/aurora_flex_mini/red.png')  no-repeat;		
	}
	.colors div.color-span .white-icon{
		background: url('../images/details/sign_lighting/neon/aurora_flex_mini/white.png')  no-repeat;		
	}
	.colors div.color-span .green-icon{
		background: url('../images/details/sign_lighting/neon/aurora_flex_mini/green.png')  no-repeat;		
	}
	.colors div.color-span .yellow-icon{
		background: url('../images/details/sign_lighting/neon/aurora_flex_mini/yellow.png')  no-repeat;		
	}
	.colors div.color-span .blue-icon{
		background: url('../images/details/sign_lighting/neon/aurora_flex_mini/blue.png')  no-repeat;		
	}
	.colors div.color-span .purple-icon{
		background: url('../images/details/sign_lighting/neon/aurora_flex_mini/pinkish_purple.png')  no-repeat;		
	}
	.colors div.color-span .warm-icon{
		background: url('../images/details/sign_lighting/neon/aurora_flex_mini/warm_white.png')  no-repeat;		
	}
	.colors div.color-span .orange-icon{
		background: url('../images/details/sign_lighting/neon/aurora_flex_mini/orange.png')  no-repeat;		
	}
	.colors div.color-span .ice-icon{
		background: url('../images/details/sign_lighting/neon/aurora_flex_mini/ice_blue.png')  no-repeat;		
	}
	.accessories{
		position: relative;
	}
	.accessories h3{
		color:#c99a6e;
	}
	.accessories{
		position: relative;
		width:100%;
		height:1500px;
	}
	.flex_mini_accessories{		
		height:900px;
	}
	.endcap{
		position:absolute;
		width: 30%;
		top: 20px;
		left: 30px;
	}
	.endcap_wires{
		position:absolute;
		width:38%;
		top: 200px;
		right:30px;
	}
	
	.fast_glue{
		position:absolute;
		width: 80%;
		top: 450px;
		left: 10px;
	}
	.fast_glue div{
		position:absolute;
		width: 40%;
		top: 20px;
		left: 130px;
	}
	.mount{
		position:absolute;
		width: 35%;
		top: 600px;
		right: 50px;
	}
	
	.power_cable{
		position:absolute;
		width:38%;
		top: 200px;
		right:30px;
	}
	.power_cable div{
		position:absolute;
		width:70%;
		top: -20px;
		right:20px;
	}
	
	.power_pin{
		position:absolute;
		width: 60%;
		top: 400px;
		left: 25px;
	}
	.joining_pin{
		position:absolute;
		width: 40%;
		top: 500px;
		left: 350px;
	}
	.pvc_glue{
		position:absolute;
		width: 30%;
		top: 600px;
		right: 100px;
	}
	.heat_shrink{
		position:absolute;
		width: 30%;
		top: 850px;
		left: 25px;
	}
	.mount_clip{
		position:absolute;
		width: 40%;
		top: 1000px;
		right: 25px;
	}
	/**videos开始**/
    .installation-video {
		background: #eee7e4;
		padding: 80px 0 10px 0;
    }
    .installation-video h2 {
	    text-align: center;
	    margin-bottom: 40px;
	    color: #c86b2e;
	    font-size: 40px;
	}
	.installation-video div p {
	    margin-top: 20px;
	    font-size: 20px;
	    text-align: center;
	    color: #017467;
	}
	/**videos 结束**/
	
	/**contacts 开始**/
	
	.inner {
	    padding-bottom: 60px;
	}
	.margin-top110 {
	    margin-top: 110px;
	}
	.pageTitle {
	    font-size: 50px;
	    margin-bottom: 20px;
	}
	.secondTitle {
	    font-size: 17px;
	    color: #444444;
	    padding:15px 0px;
	}
	.contact_top {
	    border-bottom: 2px solid #fff;
	    margin-bottom: 2em;
	    margin-left: 0;
	    margin-right: 0;
	}
	.contact_details {
	    padding: 20px;
	    text-align: center;
	}
    .contact_details span {
	    color: #68ba34;
	    font-size: 35px;
	}
	.send_message {
	    padding-bottom: 55px;
	    text-align: center;
	    color: #68ba34;
	}
	.send_message h3 {
	    font-size: 30px;
	    margin-bottom: 20px;
	    margin-top: 0;
	}
	.send_message p {
	    font-size: 16px;
	    line-height: 24px;
	    margin-bottom: 20px;
	    padding:0px 160px;
	}
	
	.clear {
	    clear: both;
	}
	.clear {
	    clear: both;
	}
	.top-center{
		text-align: center;
	}
	.form-submit {
	    background: #14B9D5;
	    border: 1px solid #14B9D5;
	    padding: 0.6em 0;
	    width: 25%;
	    margin: 15px 0 0 40%;
	    font-size: 1em;
	    color: #fff;
	    font-weight: 400;
	    letter-spacing: 1px;
	    outline: none;
	    transition: 0.5s all ease;
	    -webkit-transition: 0.5s all ease;
	    -moz-transition: 0.5s all ease;
	    -o-transition: 0.5s all ease;
	    -ms-transition: 0.5s all ease;
	}
	.contact-form-info input {
	    margin: 0 14px 20px 0;
	}
	
	/*category page开始*/
.signHead{
	padding:5% 0;
	background:#f5f5f5;
}
.clearBoth{
	width:33.3333%
}
.container-fluid{
	padding-left:0px;
	padding-right:0px;
	position:relative;
}
.img-responsive{
	border-radius:0px;
}
.category{
	padding-top:3%;
	width:850px;
}
.row{
	margin-left:0px;
	margin-right:0px;
}
.category ul li{
	float:left;
	padding:2% 0;
	font-size:18px;
	margin-right:110px;
}
.category ul li.sign{
	border-bottom: 3px solid #feb518;
}
.signSpace{
	margin-left:60px;
}
.productLink{
	font-size:18px;
	color:#fbb41a;
	text-decoration:underline;
}
.productLink:hover{
	color:#72d5bc;
}
.borderSet{
	border-bottom:1px solid #d8d4d4;
}
.signContent{
	background:url('../images/letterBg.jpg') no-repeat;
	width:650px;
	height:755px;
	background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    position:relative;
    margin:0 auto;
}
.channelLetter{
	width:250px;
	height:250px;
	position:absolute;
	top:30px;
	right:0px;
}
.categoryTitle{
	padding-bottom:15px;
}
.categoryP{
	line-height:25px;
	margin-bottom:30px;
}
.signBox{
	width:250px;
	height:250px;
	position:absolute;
	bottom:70px;
	left:0px;
}
.outdoorContent{
	background:url('../images/outdoorBg.jpg') no-repeat;
	height:1122px;
	width:650px;
	background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    position:relative;
    margin:0 auto;
}
.retrofitKit{
	width:250px;
	height:250px;
	position:absolute;
	top:30px;
	right:0px;
}
.shoebox{
	width:250px;
	height:250px;
	position:absolute;
	bottom:460px;
	left:0px;
}
.floodLight{
	width:250px;
	height:250px;
	position:absolute;
	bottom:90px;
	right:0px;
}

.commercialContent{
	background:url('../images/commercialBg.jpg') no-repeat;
	height:343px;
	width:650px;
	background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    position:relative;
    margin:0 auto;
    margin-bottom:60px;
}
.tube{
	width:250px;
	height:250px;
	position:absolute;
	bottom:60px;
	right:0px;
}
.category_caption {
    width: 60%;
    position: absolute;
    top: 30%;
    left: 20%;
    text-align: center;
    color: #ffffff;
}
/*category page结束*/

/*download Page开始*/

.downloadTitle{
	
	font-size:30px;

}
.installation{
	padding-left:70px;
	
}
.download-text{
	float:left;
}
.download-text p{
    margin:0;
	font-size:13px;
	color: #212121;
	line-height:25px;
	text-decoration:underline;
}
.SupportBg{
	background:url('../images/download.jpg') no-repeat;
	min-height:558px;
	position:relative;
	padding-top:180px;
	text-align:center;
	color:#ffffff;
	background-size:1350px;
}
.downloadBg{
	padding-left:0px;
	padding-right:0px;
}

.download-btn{
	float:right;
}
#downloadContent{
	padding-left:23%;
}
.catalogBtn{
	padding-right:40px;
}
#installation-btn{
	margin-right:48%;
}

.artbtn {
    padding: 3px 5px;
    background: url(../images/downloadLogo.png) no-repeat 0 7px;
    border-radius: 3px;
    font-size: 14px;
    display: block;
    width: 40px;
    height: 20px;
}
.downloadTitle {
    font-size: 30px;
    padding: 20px 0px;
}
/*download Page结束*/
